.my-media-query-element {
  height: 20px;
}

.sky-media-container-xs {
  background-color: lightblue;
}

.sky-media-container-sm {
  background-color: lightcoral;
}

.sky-media-container-md {
  background-color: lightgoldenrodyellow;
}

.sky-media-container-lg {
  background-color: lightseagreen;
}
